ion-view(title="Line Demo")
    ion-content.padding#line-demo
        h1 Line Demo
        line-chart(
            style=" display: block; height: 480px; width: 720px; margin: 0 auto;"
            chart-data="demoData"
            chart-options="{x: 'year', y: 'sales', range: {y: {min: 1}}}"
        )
