.scatter
    .point
        // opacity 0
        transition 1s linear opacity

        &.ng-enter
            opacity 0

        &.ng-enter-active
            opacity 1

    path, circle
        stroke #145fd7
        stroke-width 2px
        fill none

    circle
        fill white
