g.axis line,
g.axis path {
  stroke: #b2b2b2;
  stroke-width: 1px;
}
g.axis text {
  fill: #b2b2b2;
  font-family: sans-serif;
  font-size: 22;
}
g.axis .tick.ng-enter {
  -webkit-transition: 2s ease-in-out opacity;
  -moz-transition: 2s ease-in-out opacity;
  -o-transition: 2s ease-in-out opacity;
  -ms-transition: 2s ease-in-out opacity;
  transition: 2s ease-in-out opacity;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
g.axis .tick.ng-enter-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

bar-chart {
  display: block;
}

div.BoxPlot {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.box {
  font: 10px sans-serif;
}
.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}
.box .center {
  stroke-dasharray: 3, 3;
}
.box .outlier {
  fill: none;
  stroke: #ccc;
}

.scatter .point {
  -webkit-transition: 1s linear opacity;
  -moz-transition: 1s linear opacity;
  -o-transition: 1s linear opacity;
  -ms-transition: 1s linear opacity;
  transition: 1s linear opacity;
}
.scatter .point.ng-enter {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.scatter .point.ng-enter-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.scatter path,
.scatter circle {
  stroke: #145fd7;
  stroke-width: 2px;
  fill: none;
}
.scatter circle {
  fill: #fff;
}

.drawPath {
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  -webkit-transition: 2s ease stroke-dashoffset;
  -moz-transition: 2s ease stroke-dashoffset;
  -o-transition: 2s ease stroke-dashoffset;
  -ms-transition: 2s ease stroke-dashoffset;
  transition: 2s ease stroke-dashoffset;
}
.drawPath .drawPath-active {
  stroke-dashoffset: 0;
}

.tooltip {
  border: thin solid #b2b2b2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 1px;
  background-color: #f8f8f8;
  color: #444;
}
