div.BoxPlot
    display inline-block
    width 100%
    height 100%

.box
    font 10px sans-serif

    line, rect, circle
        fill #fff
        stroke #000
        stroke-width 1.5px

    .center
        stroke-dasharray 3,3

    .outlier
        fill none
        stroke #ccc
