demo(title="Tension Demo")
    .row(ng-controller="TensionCtrl")
        .col
            .card.list
                label.item
                    b Force:
                    | {{ 1 / (2 * Math.sin(components.direction())) | number:3 }} Newton
                label.item
                    b Angle:
                    | {{ components.direction() | number:3 }} rad
                label.item
                    b Length:
                    | {{ Math.abs(components.x) | number:3 }}
                label.item
                    b Height:
                    | {{ Math.abs(components.y) | number:3 }}
            
        .col
            .card.list
                .item
                    ng-include(src="'demos/tension/visualization'")
                .item
                    label.item
                        b Raw:
                        pre {{ string|json }}
