ion-view(title="Bar Demo")
    ion-content.padding#bar-demo
        h1 Bar Demo
        bar-chart(
            style="height: 480px; width: 720px; margin: 0 auto;"
            chart-data="demoData"
            chart-options="{\
                x: 'timestamp', \
                y: 'rtt', \
                range: {y: {min: 0, max: 1000}}, \
                scale: {x: 'log'}, \
                axis: {\
                    tickCount: 8,\
                    format: {\
                        y: ['number', 0],\
                        x: ['date', 'mm:ss.sss']\
                    }\
                }\
            }"
        )
            chart-tooltip-template
                ul
                    li
                        b Time:
                        | {{ $chartOptions.x(point)|date:'mm:ss.sss' }}
                    li
                        b RTT:
                        | {{ $chartOptions.y(point)| number:0 }}
