.tooltip
    border thin solid #b2b2b2
    border-radius 2px
    padding 1px
    background-color #f8f8f8
    // background-image linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%)
    color #444
