div#graphingTooltip.tooltip(
    ng-style="{\
        position: 'absolute',\
        display: tooltipData.show ? 'inherit' : 'none',\
        top: tooltipData.position[1]  + 'px',\
        left: tooltipData.position[0] + 'px'\
    }"
    style="border: "
)
    | {{ tooltipData.text }}
