doctype
html(ng-app="graphing.demos")
    head
        title ng graphing
        link(href="vendors.css", type="text/css", rel="stylesheet")
        link(href="all.css", type="text/css", rel="stylesheet")
    body
        ion-side-menus
            ion-side-menu-content(ng-controller="DemoMenu")
                ion-nav-bar.bar-calm.nav-title-slide
                    ion-nav-back-button.button-icon.ion-arrow-left-c
                    button.button.icon.ion-navicon-round(ng-click="open()")
                ion-nav-view(name="demos")

            ion-side-menu(
                side="left"
                ng-controller="DemoList"
            )
                ion-list
                    a.item(
                        ng-repeat="demo in demos"
                        ui-sref="{{demo}}"
                        menu-close
                    ) {{ demo }}

        script(src="vendors.js")
        script(src="templates.js")
        script(src="application.js")
