trig-demo
    display block
    height 100%

    svg

.trig
    path, line, circle
        stroke steelblue
        stroke-width 2px
        fill none

    text
        fill #444
        font-family sans-serif
        font-size 22

    .axis
        stroke #999

    .dot
        fill white

    .sine
        stroke blue

    .cosine
        stroke green

    .hypotenuse
        stroke red

    .tangent
        stroke purple

    .exsecant
        stroke yellow
